<!doctype html>
<head>
    <title>Door client</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>

<div id=page>
  <p>Door Status</p>
    <div id="monitor_frame">
        <div id="monitor_interior">
            <div class="door_status">
                <p>Door 1</p>
            </div>
            <div class="door_status">
                <p>Door 2</p>
            </div>
        </div>
    </div>
    <div id="promo_area">
        <img src="../static/img/proximio.jpg" alt="Powered by Proximi.io"/>
        <img src="../static/img/kone.jpg" alt="Powered by Kone Elevators"/>
        <img src="../static/img/ibm.jpg" alt="Powered by IBM Cloud"/>
    </div>
</div>